optimizer:
  name: adamw
  lr: 3.0e-4
  betas: [0.9, 0.95]
  weight_decay: 0.01


scheduler:
  name: cosine
  warmup_steps: 200


training:
  batch_size: 128
  max_steps: 50_000
  log_every: 50
  eval_every: 1_000
  precision: bf16 # ou fp32


metrics:
  thresholds:
    malicious: 0.5
    benign: 0.5
  ttr:
    percentile_report: [50, 90]